<% if old_replies.blank? %>
<div class="box" style="height: 21px;line-height: 24px">
    <%= "暂无评论" %>
  </div>
<% else %>
  <% old_replies.each do |reply| %>
    <div class="box">
      @<%= reply.try(:user).try(:name) %>:
      <%= reply.reply_content %>
    </div>
  <% end %>
<% end %>