 <%= render "page_nav" %>

<div class="sidebar">
  <div class="box">
    <h2><%= t("users.already_have_account")%></h2>
    <p style="line-height:20px;">
      <%#= render :partial => "devise/shared/links" %>
    </p>
  </div>
</div>

<div class="content">
  <div class="box">
    <%= link_to "我的相册" ,albums_path() %>
  </div>
</div>
