<h3>Simple image gallery</h3>
<% @photos.each do |photo| %>
<a class="fancybox" href="<%=  photo.url_url(:big)%>" data-fancybox-group="gallery" title="<%=  photo.name %>">
  <%=image_tag photo.url_url(:thumb) %>
</a>
<% end %>



	<script type="text/javascript">
		$(document).ready(function() {
			/*
				Simple image gallery. Uses default settings
			*/

			$('.fancybox').fancybox({
                          	helpers : {
					title : {
						type : 'inside'
					},
					buttons	: {}
				},

				afterLoad : function() {
					this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' --- ' + this.title : '');
				}
                        });
                })
            </script>


<style type="text/css">
		.fancybox-custom .fancybox-outer {
			box-shadow: 0 0 50px #222;
		}
	</style>
